[Unit]
Description=Simple eBPF service
After=network.target 

[Service]
User=root
WorkingDirectory=/local/repository/ebpf_service
ExecStart=/usr/bin/python3 /local/repository/ebpf_service/service.py
Restart=always

[Install]
WantedBy=multi-user.target